.container{
    display: flex;
    justify-content:space-around ;
}
.container-item{
display: flex;
gap: 10px;
align-items: center;
}
.about-item{
    display: flex;
    align-items: center;
}
.about-item p{
    padding-right: 20px;
}
.container-img{
    width: 20%;
}
.item{
    font-size: 30px;
    
}
.img-item{
    width: 25px;
    height: 24px;
}
.container-title{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    gap: 5px;
    height: 20px;
}